.place {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    max-height: 660px;
    max-width: 984px;
    grid-column-gap: 40px;
    margin-bottom: 80px;
}
.place:last-child {
    margin-bottom: 92px;
}