.cover__subtitle {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px auto 245px;
    width: 360px;
    z-index: 2;
    /* align-self: end;
    justify-self: center; */
} 
@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0px auto 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 0px auto 115px;
    }
}

@media screen and (max-width: 560px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        align-self: center;
        /* margin: 0px auto 33px; */
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin: 0px auto 33px;
    }
}



