.content {
    -webkit-font-smoothing: antialiased;
    background: #2A2C2F;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    max-width: 1280px;
    margin: 0px;
    padding-top: 28px;
}

@media screen and (min-width: 1280px) {
    .content {
        margin: 0px auto;
    }
}

@media screen and (max-width: 320px) {
    .content {
        padding-top: 16px;
    }
}