.intro {
    margin: 92px 148px 92px 148px;
    max-width: 690px;
    max-height: 100vh;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 48px 92px 48px;
    }
    
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 88px 24px 88px 24px;
    }
    
}