.cover {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,minmax(33%,1fr));
    /* margin: 0px 48px 92px; */
    margin-bottom: 92px;
}


@media screen and (max-width: 1024px) {
    .cover {
        height: 640px;
        
    }
} 
