@keyframes blackout {
    from {
        background: rgba(42, 44, 47, 0.3);
    }
    to {
        background: rgba(42, 44, 47, 0.8);
    }
}

.cover__overlay {
    z-index: 1;
    width: 100%;
    height: inherit;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    background: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover {
    animation: blackout 1s forwards;
}