.cover__title {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0px auto;
    width: 560px;
    height: 152px;
    text-decoration: none;
    color: #FFFFFF;
    z-index: 2;
    align-self: start;
    justify-self: center;
}

@media screen and (max-width: 535px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        height: 70px;
    }
}
